[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "uvicorn src.main:app --reload --port 8080"
setup = "python3 src/set-up.py"

[packages]
fastapi = {extras = ["all"], version = "*"}
sklearn = "*"
nltk = "*"
beautifulsoup4 = "*"
lxml = "*"
requests = "*"
pandas = "*"
matplotlib = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
